<template>
  <img src="./assets/logo.png">
  <router-view/>
</template>

<script>
export default {
  name: 'App',
  created() {
    document.body.classList.remove('is-loading');
    if (navigator.userAgent.match(/(MSIE|rv:11\.0)/)) {
      document.body.classList.add('is-ie');
    }
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
